* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#root {
    background: linear-gradient(#0020CC, #2040FF);
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100%;
}

#root .card {
    display: none;
}

#root .card.active {
    display: block;
}

#landingCard {
    padding: 20px;
}

#landingCard .container {
    border-radius: 20px;
    overflow: hidden;
}

#landingCard .container .title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 100pt;
    color: #fff;
    text-shadow: 10px 10px #0020CC;
    user-select: none;
}

#landingCard .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: auto;
}

#landingCard .menu .left,
#landingCard .menu .right {
    display: flex;
}

#landingCard .menu button,
#landingCard .menu a {
    display: block;
    text-decoration: none;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #0020CC;
    border-radius: 20px;
    box-shadow: 8px 8px #0020CC;
    cursor: pointer;
}

#landingCard .menu button:hover,
#landingCard .menu a:hover {
    background-color: #3060FF;
    outline: 2px solid #fff;
    color: #fff;
}

#landingCard .menu button.active {
    background-color: #3060FF;
    color: #fff;
}

#landingCard .menu input {
    display: block;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    color: #0020CC;
    border-radius: 20px;
    box-shadow: 8px 8px #0020CC;
}

#boardCard {
    padding: 10px;
    overflow: hidden;
}

#boardCard #board {
    display: block;
    margin: 0 auto;
    background-color: #3060FF;
}

#boardCard #score {
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    text-align: center;
    line-height: 70px;
    color: #fff;
}

#modals .modal {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 100vw;
    border-radius: 20px;
    box-shadow: 8px 8px #0020CC;
}

#modals .modal:hover {
    outline: 4px solid #3060FF;
}

#modals .modal.active {
    display: block;
}

#modals .modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#modals .modal .modal-header h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25pt;
    color: #2040FF;
}

#modals .modal .modal-header a {
    display: block;
}

#modals .modal .modal-header .modal-close {
    background-color: #2040FF;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-left: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25pt;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

#modals .modal .modal-header .modal-close:hover {
    background-color: #3060FF;
}

#modals .modal .modal-body {
    padding: 10px 20px;
}

#modals .modal .modal-body div {
    margin: 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modals .modal .modal-body div a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14pt;
    color: #2040FF;
}

#modals .modal .modal-body div .left p {
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14pt;
    color: #2040FF;
}

#modals .modal .modal-body div .right {
    margin-left: 100px;
}

#modals .modal .modal-body div .right p {
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14pt;
    color: #323232;
}

#modals .modal .modal-body div .right span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18pt;
    color: #323232;
    width: 50px;
}

#modals .modal .modal-body div .right button,
#modals .modal .modal-body div .right .button {
    background-color: #2040FF;
    border: none;
    outline: none;
    padding: 4px 8px;
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 14pt;
    line-height: 1;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#configuration {
    display: none;
}

@media screen and (max-width: 868px) {
    #landingCard .container .title {
        font-size: 60pt;
    }

    #landingCard .menu .left,
    #landingCard .menu .right {
        flex-direction: column;
    }
}